<div th:fragment="navbar">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Edmodo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="events">Events<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="add">Add<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="update">Update<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="delete">Delete<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="view">View<span class="sr-only"></span></a>
				</li>
			</ul>
		</div>
	</nav>
</div>