<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edmodo | Add</title>
    <th:block th:include="fragments/headerfiles.html :: headerfiles">
    </th:block>
</head>

<body>
<th:block th:include="fragments/navbar.html :: navbar">
</th:block>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Add Event</h1>
            <p>Add new events.</p>
        </div>
    </div>
    <div class="container">
        <h3 style="padding-bottom: 1em;">Enter details</h3>
        <form action="/add-event" method="POST">
            <div class="row mt-2">
                <div class="col-md-4">
                    <input name="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-4">
                    <input name="date" type="date" class="form-control" placeholder="Date">
                </div>
                <div class="col-md-4">
                    <input name="description" type="text" class="form-control" placeholder="Short Desc.">
                </div>
            </div>
            <div class="mt-2">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</main>

<th:block th:include="fragments/footer.html :: footer">
</th:block>
</body>

</html>