<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edmodo | Add</title>
    <th:block th:include="fragments/headerfiles.html :: headerfiles">
    </th:block>
</head>

<body>
<th:block th:include="fragments/navbar.html :: navbar">
</th:block>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Add Members</h1>
            <p>Add new members of the organising committee to the database by filling the form below.</p>
        </div>
    </div>
    <div class="container">
        <h3 style="padding-bottom: 1em;">Enter details</h3>
        <form action="/add" method="POST">
            <div class="row mt-2">
                <div class="col-md-4">
                    <input name="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-4">
                    <input name="roll" type="text" class="form-control" placeholder="Roll Number">
                </div>
                <div class="col-md-4">
                    <input name="email" type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <select name="branch" class="form-control">
                        <option value="CSE">CSE</option>
                        <option value="ECE">ECE</option>
                        <option value="MBA">MBA</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select name="year" class="form-control">
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div>
            <div class="mt-2">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</main>

<th:block th:include="fragments/footer.html :: footer">
</th:block>
</body>

</html>