<!doctype html>
<html lang="en">

<head>
	<title>Edmodo | View</title>
	<th:block th:include="fragments/headerfiles.html :: headerfiles">
	</th:block>
</head>

<body>
	<th:block th:include="fragments/navbar.html :: navbar">
	</th:block>

	<main role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">Events</h1>
				<p>Check this tab to be notified of the upcoming events.</p>
			</div>
		</div>
		<div class="container">
			<h3 style="padding-bottom: 1em;">Upcoming events:</h3>
			<div class="list-group">
				<div th:each="event: ${events}">
					<a th:href="@{/event/{id}(id=${event.id})}"
						class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 th:text="${event.name}" style="color: black"></h5>
							<small th:text="${event.date}"></small>
						</div>
						<p th:text="${event.description}" class="mb-1"></p>
					</a>
				</div>
			</div>
		</div>
	</main>

	<footer class="container">
		<p>&copy; Company 2017-2019</p>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
</body>

</html>