<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edmodo | View</title>
    <th:block th:include="fragments/headerfiles.html :: headerfiles">
    </th:block>
</head>

<body>
<th:block th:include="fragments/navbar.html :: navbar">
</th:block>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Attendance</h1>
            <p>The attendance details of the students that are part of the event organising committee are displayed
                in the table below.</p>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom: 2em;">
            <h3>Student Attendance</h3>
        </div>
        <div class="row">
            <div class="col-12 align-center">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#third" role="tab" data-toggle="tab">III Year Student's
                            Attendance</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 align-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Roll Number</th>
                        <th th:each="date: ${dates}"><span th:text="${date}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="key: ${thirdStudents.keySet()}">\
                        <td th:text="${key}"></td>
                        <td th:each="attendance: ${thirdStudents.get(key)}">
                            <span th:text="${attendance.attended}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<th:block th:include="fragments/footer.html :: footer">
</th:block>
</body>

</html>